body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2%;
  border: 1px solid black;
  background-color: #f7a6dc;
}
#image {
  line-height: 450px;
  width: 450px;
  height: 450px;
  border: 5px solid white;
  margin: 0 auto;
  background-color: #ffc0cb;
  background-image: url("");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 25px;
  font-size: 125%;
}
.preview {
  width: 10%;
  margin-left: 17%;
  border: 10px solid white;
}
img {
  width: 95%;
}
